Câu 1: Bạn hãy xây dựng một hàm nhận tham số truyền vào là 1 chuỗi ký tự bất kỳ. Hàm kiểm tra và trả về kết quả chuỗi trên là một đoạn password hợp lệ hay không, biết rằng password hợp lệ cần thoả mãn các tiêu chí:

Chứa 1 ký tự đặc biệt trong các ký tự !, @, #, $, ^

Chứa ít nhất một ký tự số

Chứa ít nhất một ký tự chữ cái viết hoa

Chứa ít nhất một ký tự chữ cái viết thường

Độ dài từ 8 - 15 ký tự.

In [ ]:
def kiem_tra(password):
    special_characters = ['!', '@', '#', '$', '^']
    if (len(password) < 8) or (len(password) > 15):
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char in special_characters for char in password):
        return False
    return True

password = input("Nhập vào mật khẩu: ")
if kiem_tra(password):
    print("Mật khẩu hợp lệ")
else:
    print("Mật khẩu không hợp lệ")

Nhập vào mật khẩu: qwe123@A
Mật khẩu hợp lệ

Câu 3:  Bạn hãy xây dựng một hàm nhận tham số truyền vào là một danh sách bất kỳ chỉ chứa các số. Hàm tính toán và  trả về số lớn nhì trong danh sách. Với trường hợp danh sách gồm các số bằng nhau, hàm trả về số lớn nhất. Nếu có nhiều giá trị bằng số lớn nhì trong danh sách, hàm trả về 1 giá trị duy nhất.

Ví dụ:

Với danh sách [1,1,1,1,1,1] -> Hàm trả về 1

Với danh sách [1,2,1,1,2,3] -> Hàm trả về 2

In [ ]:
def so_lon_nhi(lst):

    # Xóa tất cả các giá trị trùng lặp trong danh sách
    danhsach = set(lst)

    # Nếu danh sách chỉ chứa giá trị bằng nhau, trả về giá trị đó
    if len(danhsach) == 1:
        return max(danhsach)

    # Nếu danh sách chứa ít nhất hai giá trị khác nhau, tính số lớn nhì
    else:

        # Sắp xếp danh sách giảm dần
        sapxep = sorted(danhsach, reverse=True)

        # Trả về giá trị thứ hai trong danh sách đã sắp xếp
        return sapxep[1]

In [ ]:
lst = []
n = int(input("Nhập số lượng phần tử của danh sách: "))
for i in range(n):
    lst.append(int(input("Nhập giá trị phần tử thứ {} trong danh sách: ".format(i+1))))
print("Danh sách các số mà bạn đã nhập là: ", lst)
print("Số lớn nhì trong danh sách là: ", so_lon_nhi(lst))

Nhập số lượng phần tử của danh sách: 5
Nhập giá trị phần tử thứ 1 trong danh sách: 1
Nhập giá trị phần tử thứ 2 trong danh sách: 1
Nhập giá trị phần tử thứ 3 trong danh sách: 1
Nhập giá trị phần tử thứ 4 trong danh sách: 1
Nhập giá trị phần tử thứ 5 trong danh sách: 1
Danh sách các số mà bạn đã nhập là:  [1, 1, 1, 1, 1]
Số lớn nhì trong danh sách là:  1

Câu 2: Bạn hãy đọc file dữ liệu với pandas. Và giải quyết các câu sau:

Bạn hãy lấy ra các đơn hàng thuộc Branch A hoặc C

Bạn hãy tìm ra các đơn hàng mua sản phẩm là ‘Health and beauty’ hoặc ‘Sports and travel’

Cột InvoiceID, giá trị được lưu trữ theo dạng XXX-StoreID-XXXX.

Bạn hãy tạo 1 dataframe mới gồm các cột như trên file và tạo thêm một cột StoreID được tách từ InvoiceID.Sau đó tính tổng doanh số của từng StoreID đó.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/supermarket_sales.csv")

In [ ]:
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs,StoreID
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83,67
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40,31
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31,41
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76,19
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46,Ewallet,40.35,67
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,3/2/2019,17:16,Ewallet,973.80,96
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,2/9/2019,13:22,Cash,31.84,02
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,2/22/2019,15:33,Cash,65.82,56
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,2/18/2019,13:28,Cash,618.38,09

In [ ]:
df_branch = df.loc[(df['Branch']=='A') | (df['Branch']=='C')]
df_branch

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3/8/2019,10:29,Cash,76.40
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,3/3/2019,13:23,Credit card,324.31
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17
...,...,...,...,...,...,...,...,...,...,...,...,...
994,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,2/18/2019,11:40,Ewallet,60.95
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46,Ewallet,40.35
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,2/9/2019,13:22,Cash,31.84
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,2/22/2019,15:33,Cash,65.82
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,2/18/2019,13:28,Cash,618.38

In [ ]:
df_products = df.loc[(df['Product line']=='Health and beauty') | (df['Product line']=='Sports and travel')]
df_products

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,1/5/2019,13:08,Ewallet,522.83
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,1/27/2019,20:33,Ewallet,465.76
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,2/8/2019,10:37,Ewallet,604.17
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,1/10/2019,17:15,Credit card,72.52
14,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,3/29/2019,19:21,Cash,713.80
...,...,...,...,...,...,...,...,...,...,...,...,...
986,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,2/18/2019,14:42,Ewallet,29.52
987,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,1/3/2019,19:08,Credit card,496.00
989,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,1/28/2019,15:46,Credit card,602.96
991,602-16-6955,B,Mandalay,Normal,Female,Sports and travel,76.60,10,1/24/2019,18:10,Ewallet,766.00
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,1/29/2019,13:46,Ewallet,40.35

In [ ]:
df['StoreID'] = df['Invoice ID'].str.split('-').str[1]

df_sum = df.groupby('StoreID').sum()

df_sum

<ipython-input-38-4703eef387ea>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_sum = df.groupby('StoreID').sum()

         Unit price  Quantity     cogs
StoreID
01           797.10       104  5418.11
02           767.96        64  3864.69
03           627.02        79  4023.86
04           848.15        74  5441.09
05           537.43        50  2578.99
...             ...       ...      ...
95           643.01        48  3070.69
96           734.74        70  4681.04
97           437.25        15   916.60
98           591.73        59  3706.48
99           187.94        25  1627.19

[99 rows x 3 columns]